color-green = #009d81;
color-orange = #ff8400;
color-white = #fff;
color-yellow = #ffe454;
color-gray = #e1e1e1;
font-color-black = #333;

.ten-article-header {
  width: 100%;

  h3 {
    padding: 0 0 0 30px;
    margin: 0;
    margin-top: -85px;
    background-color: color-green;
    color: color-white;
    width: 250px;
    height: 45px;
    border-radius: 10px 10px 0 0;
    font-size: 1.1em;
    line-height: 45px;
    font-weight: 700;
  }

  h1 {
    font-size: 2.25em;
    background: color-orange;
    color: #fff;
    padding: 12px 36px 12px 75px;
    margin: 0 0 0 -45px;
    border-radius: 32px 0 0 32px;
  }

  .ten-last-updated-time {
    background-color: color-yellow;
    font-size: 0.8em;
    padding: 6px 30px;
  }
}

.ten-article-body {
  background-color: color-white;
  padding: 0 30px 30px 30px;
  color: font-color-black;
  font-weight: normal;
  line-height: 1.6;
  word-wrap: break-word;

  h1 {
    display: none;

    a {
      display: none;
    }
  }

  h2 {
    background: color-green;
    color: color-white;
    padding: 10px 36px 10px 60px;
    margin: 21px -30px 16px -60px;
    border-radius: 32px 0 0 32px;

    a {
      display: none;
    }
  }

  h3 {
    margin: 1em 0;
    font-size: 1.5em;
    font-weight: bold;

    a {
      display: none;
    }
  }

  h4 {
    margin: 1em 0;
    font-size: 1.25em;
    font-weight: bold;

    a {
      display: none;
    }
  }

  blockquote {
    margin: 0;
    padding: 0 15px;
    color: #777;
    border-left: 4px solid color-gray;
  }
}