color-green = #009d81;
color-orange = #ff8400;
color-white = #fff;
color-yellow = #ffe454;
color-gray = #e1e1e1;
font-color-black = #333;
color-code-background = rgba(0, 0, 0, 0.04);

.ten-article-header {
  width: 100%;

  h3 {
    padding: 0 0 0 1.4em;
    margin: 0;
    margin-top: -4.7em;
    background-color: color-green;
    color: color-white;
    width: 16.67em;
    height: 2.6em;
    border-radius: 0.67em 0.67em 0 0;
    font-size: 1.1em;
    line-height: 3em;
    font-weight: 700;
  }

  h1 {
    font-size: 2.25em;
    background: color-orange;
    color: color-white;
    padding: 0.3em 0 0.5em 2.07em;
    margin: 0 0 0 -1.4em;
    border-radius: 2.1em 0 0 2.1em;
  }

  .ten-last-updated-time {
    background-color: color-yellow;
    font-size: 0.8em;
    padding: 0.4em 2em;
  }
}

.ten-header-container {
  height: 3.67em;
}

.ten-article-container {
  padding: 2em;
  height: 100%;
}

.ten-article-body {
  background-color: color-white;
  // padding: 0 2em 2em 2em;
  color: font-color-black;
  font-weight: normal;
  line-height: 1.6;
  word-wrap: break-word;
  width: 100%;

  h1 {
    display: none;

    a {
      display: none;
    }
  }

  h2 {
    background: color-green;
    color: color-white;
    padding-left: 2em;
    margin: 0.4em -1.34em 0.4em -2em;
    border-radius: 2.1em 0 0 2.1em;

    a {
      display: none;
    }
  }

  h3 {
    margin: 1em 0;
    font-size: 1.5em;
    font-weight: bold;

    a {
      display: none;
    }
  }

  h4 {
    margin: 1em 0;
    font-size: 1.25em;
    font-weight: bold;

    a {
      display: none;
    }
  }

  blockquote {
    margin: 0;
    padding: 0 1em;
    color: #777;
    border-left: 4px solid color-gray;
  }

  p {
    code {
      padding: 0.2em 0.4em;
      margin: 0;
      font: 0.9em Consolas, 'Liberation Mono', Menlo, Courier, monospace;
      background-color: color-code-background;
      border-radius: 0.2em;
      border: 1px solid color-gray;
    }
  }
}