font-color = #fff;

.ten-nav {
  height: 1.5em;
  padding-top: 5px;

  li {
    list-style: none;
    margin-right: 1em;

    &:first-child {
      margin-left: auto;
    }

    a {
      color: font-color;
      text-decoration: none;
    }

    .active {
      border-bottom: 2px solid font-color;
    }
  }
}